#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
.card{
    width: 300.333px;
    height: 457.333px;
}

.card-content{
    padding: 1em;
    text-align: left;
    background-color: white;
    position: relative;
}

.card-content p{
    margin-top: 1em; 
}

.buttons{
    margin-top: 1em;
    padding: 0.6em 1em 0.8em 1.5em;
    width: 97px;
    height: 21px;
    border-radius: 4px;
    background-color: #852FF4;
    align-items: center;
}

.buttons img{
    width: 20px;
    height: 20px;
    left: 180px;
    position: relative;
    padding: 8px;
    bottom: 30px;
    cursor: pointer;
}

.buttons .heart_button{
    width: 22px;
    height: 22px;
    left: 180px;
    position: relative;
    padding: 8px;
    bottom: 30px;
    cursor: pointer;
}

.card-content a{
    color: #fff;
    font-weight: 700;
    color: none;
    text-decoration: none;
}

.card-content a:hover{
    color: initial;
}

/* div da IMAGEM do CARD */

.imagem img{
    width: 300.333px;
    height: 168.848px;
}

.imagem{
    height:168.848px ;
}
/* ---------------------- */


/* texto do "saiba mais dos cards */

#Texto_Do_Butão{
    text-decoration: none;
    color: white;
}
  