@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #000000;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
    width: 100vw;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1.5rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
    border-bottom:  1px solid var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	display: none;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.box_Input{
    height: 40px;
    width: 300px;
}

input{ 
    border: 1px solid white;
    background-color: black;
    color: white;
    
    width: 85%;
    height: 100%;

    outline: none;
    border-right: none;
    padding-left: 10px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

input::placeholder{
    color: white;
}

.btn_Search{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 15%;

    border: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    cursor: pointer;
}

.image{
    border-radius: 100%;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		display: flex;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
        visibility: hidden;
	}

	header .responsive_nav {
		transform: translateY(100vh);
        visibility: visible;
        /* position: fixed; */
		position: absolute;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

    .image{
        display: none;
    }
}