/* .space_for_cards {
    height: calc(100vh - 80px);
    width: 100vw;
  } */

  .space_for_cards {
    min-height: 100vh;
    width: 100vw;
    align-items: center;

  }

  #grid_div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 180px;
    width: 80vw;
    align-items: center;
  }
  
  /* Center the cards within the grid cells */
  .space_for_cards > * {
    margin-left: auto;
    margin-right: auto;
  }

.title1{
    width: 100vw;
    min-height: 10vh;
}
  
.locations_buttons{
    width: 100vw;
}

body{
  overflow-x: hidden;
}
