

*{
  margin: 0;
  padding: 0;
}


body{
  background-color: #eee;
  overflow-x: hidden;
  box-sizing: border-box;
 


}

<<<<<<< HEAD
body{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
=======
>>>>>>> b0c11fc2c904c40919070d971b603aa2af3ec095
