/* Espaço para alterar a div que tem os cards */
main{
    margin-top: 4rem;

    display: grid;
    grid-template-columns: 15rem 15rem;
    column-gap: 13rem;
    row-gap: 5rem;

    /* place-items: center; */
    justify-content: center;
}

/* Quiser alterar alguma coisa do card é aqui */

.card-body{
    display: flex;
    flex-direction: column;

    padding-top: 0.64em;
    padding-left: 1em;
    text-align: start;
}

.contact_card{
    /* margin-left: 100px;
    margin-top: 100px; */
    width: 15rem;
    height: 23rem;

    background-color: #fff;
    border-radius: 3%;
    overflow: hidden;
    /* border: 3px solid red; */
}

.contact_card .card-title{
    /* text-align: start;' */
    /* padding-left: 1em; */
}

.contact_card .card-text{
    /* text-align: start; */
    /* padding-left: 1em; */
}

/* Quiser alterar componentes que estão DENTRO do card é aqui */
.contact_card .card-img-top{
    width: 15em;
    height: 16em;
    /* border: 2px solid red; */
}

/*  */
.title_space{
   margin-top: 4rem;

   width: 100vw;
   display: flex; 
   flex-direction: column;
   align-items: center;
}

/* Componentes do card space */
.title_underline{
    width: 50em;
    height: 0.16rem;
    background-color: black;
}

.title{
    /* text-decoration: underline; */
}

/*  */

.member_info{
    /* border: 2px solid red; */
}

.socials{
    display: flex;
    gap: 1em;


    /* border: 2px solid red; */
    /* padding-left: 1em; */
    /* text-align: start; */
}

.faceIcon{
    width: 1.6em;
    height: 1.6em;
}

.emailIcon{
    width: 1.6em;
    height: 1.6em;
}


@media (max-width: 780px) {

    main{
        margin-top: 4rem;

        display: grid;
        grid-template-columns: 1fr;
        /* column-gap: 13rem; */
        row-gap: 5rem;
    
        place-items: center;

    }

    .contact_card{
        width: 10rem;
        height: 18rem;
    
        background-color: #fff;
        border-radius: 3%;
        overflow: hidden;
        /* border: 3px solid red; */
    }
    
    .contact_card .card-img-top{
        width: 10em;
        height: 10em;
        /* border: 2px solid red; */
    }

    .title_underline{
        width: 30em;
        height: 0.16rem;
        background-color: black;
    }


}


@media (min-width:1520px){
    main{
        margin-top: 4rem;
    
        display: grid;
        grid-template-columns: 15rem 15rem 15rem;
        /* column-gap: 13rem; */
        column-gap: 7rem;
        row-gap: 5rem;
    
        place-items: center;
        justify-content: center;
        /* background-color: red; */
    }


    .title_underline{
        width: 70em;
        height: 0.16rem;
        background-color: black;
    }
}