*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.sliders-container{
    padding: 5rem;
    color: #fff;
}


.slides{
    background-color: grey;
    height:25px;
    width: 25px;
}

.slides h3{
    text-align: center;
}

.slick-slide div{
    margin:0 1em;
    display: flex;
    border-radius: 10px;

}

.slick-slide .slick-active{
    border: 100px solid #000000;
}